*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

body{
  line-height:1.5;
  background-color:#f1f1f1;
}

/* SIDEBAR */

.sidebar{
  font-family: 'Raleway', sans-serif;
  background-color:#fff;
  font-weight:bold;
  position: fixed !important;
  display:flex;
  flex-direction:column;
  gap:30px;
  width:300px;
  height:100%;
}

/* AVATAR */

.avatar-img{
  border-radius:30px;
  width:45px;
}

.avatar-profile{
  display: flex;
  align-items: center; 
  padding-left:10px;
  padding-top:10px; 
}

.avatar-icon{
  margin-left:20px;
  margin-top:10px;
}

.avatar-icons{
  margin-left:10px;
}

.icon-hover:hover{
  background-color:#f1f1f1;
  transform: scale(1.5);
}

.avatar-title{
  padding:10px;
  padding-bottom:0;
  margin-left:15px;
}

.sidebar-header{
  margin:8px;
  margin-top:0;
}

.sidebar-overview{
    background-color:#2196F3;
}

.sidebar-overview > a{
    color:#fff;
}

.i{
  color:#fff;
}

a{
  text-decoration:none;
  color:#000;
  display:inline-block;
  font-weight:600;
}

p{
  font-weight:600;
}

hr{
  opacity:0.3;
}

.icon{
  width:15px;
}

ul{
  list-style:none;
}

li{
  padding: 8px;
}

.sidebar-li:hover{
  background-color:rgba(200, 200, 200, 0.918);
}

/* DASHBOARD */

.dashboard{
  margin-left:320px;
}

.dashboard-title{
  display:flex;
  gap:5px;
}

.dashboard-activity{
  display:flex;
  gap:30px;
  width:95%;
}

.dashboard-quantity{
  padding-left:173px;
  padding-right:10px;
  padding-top:20px;
  color:#fff;
  font-size:20px;
}

.dashboard-block{
  margin: 19px 31px 18px 23px;
}

.dashboard-messages{
  background-color:#f44336;
}

.dashboard-views{
  background-color: #2196F3;
}

.dashboard-shares{
  background-color:#009688;
}

.dashboard-users{
  background-color:#ff9800;
}

.my-dashboard{
  margin-top:40px;
  margin-bottom:20px;
}

.dashboard-icon{
  width:25px;
  height:25px;
}

.fa{
  font-size:45px;
  color:#fff;
}

.dashboard-header{
  font-size:20px;
  color:#fff;
  padding-bottom:10px;
}

.dashboard-title > h2{
  font-size:20px;
}

.svg{
  width:50px;
  fill:#fff;
  margin-right:20px;
}

/* REGIONS */

.regions-feeds{
  display:flex;
  align-items: flex-start;
  gap:20px;
}

.regions > h2{
  margin: 20px 0px 20px 0px;
  font-size:20px;
}

.regions-img{
  width:500px;
}

/* FEEDS */

.feed-li{
  display:flex;
  gap:20px;
  width:290%;
  background-color:#fff;
}

.feed-icon{
  width:20px !important;
}

.feed > h2{
  margin: 21px 0px 20px 0px;
  font-size:20px;
}

.feed-info{
  width:70%;
}

.feed-group-icon{
  margin-right:5px;
}

.feed-share-icon{
  margin-right:3px;
}

/* FEED COLORS */

.feed-user-icon{
  fill:#2196F3;
}

.feed-bell-icon{
  fill:#f44336;
}

.feed-group-icon{
  color:#d2be0e;
}

.feed-message-icon{
  fill:#f44336;
}

.feed-bookmark-icon{
  fill:#2196F3;
}

.feed-laptop-icon{
  fill:#f44336;
}

.feed-share-icon{
  color:#4CAF50;
}

.feed-li-color{
  background-color:#f1f1f1;
}

/* STATISTICS */

.statistics > h2{
  font-size:18px;
}

.statistics > h2:first-child{
  margin:50px 0 10px 0;
}

.statistics > h3{
  font-size:15px;
}

.statistics > h2,h3{
  margin:15px 0 15px 0;
}

.new-visitors{
  background-color:#4CAF50;
  width:25%;
}

.new-users{
  background-color:#ff9800;
  width:50%;
}

.bounce-rate{
  background-color:#f44336;
  width:75%;
}

.new-visitors , .new-users , .bounce-rate{
  padding-top:10px;
  padding-bottom:10px ;
  text-align:center;
  color:#fff;
  font-size:13px;
}

.statistics-bar{
  background-color:rgba(200, 200, 200, 0.918);
  width:96%;
}

/* COUNTRIES */

.countries > h2{
  margin:50px 0 10px 0;
  font-size:18px;
}

.countries > ul{
  border:solid 1px rgba(200, 200, 200, 0.918);
  width:96%;
}

.countries-li{
  display:flex;
  padding-left:0;
  border-bottom:solid 1px #ddd;
}

.countries-li:hover{
  background-color:rgba(200, 200, 200, 0.918);
}

.countries-li-color{
  background-color: #fff;
}

.countries-li > p:first-child{
  font-size:14px;
  width:70%;
  padding-left:15px;
}

.countries-icon{
  color:#fff;
  font-size:18px !important;
}

.countries-icon:hover{
  color:#000;
}

button{
  border:0;
  color:#fff;
  padding:8px 16px;
  margin-top:20px;
  background-color:#616161;
  display:flex;
  align-items:center;
  gap:8px;
}

button:hover{
  background-color:rgba(200 , 200, 200 ,0.918);
  color:#000;
}

.countries-paragraph{
  font-size:15px;
}

/* RECENT USERS */

.recent-users{
  width:96%;
}

.recent-users > ul{
  background-color:#fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.users-li{
  display:flex;
  gap:15px;
  align-items:center;
  border-bottom: solid 1px #d1d1d1;
  padding:15px;
}

.users-img{
  border-radius:30px;
  width:45px;
}

.users-header{
  margin:50px 0 10px 0;
  font-size:18px;
}

/* RECENT COMMENTS */

.comments-header{
  margin :50px 0 10px 0;
  font-size:18px;
}

.comments-img{
  width:80px;
  border-radius:40px;
  margin-right:70px;
}

.comments-li > p{
  font-size:14px;
}

.comment{
  padding-top:20px;
  padding-left:0;
}

.comment-block{
  position:absolute;
  top:1815px;
  margin-left:200px;
}

.comment-block2{
  position:absolute;
  top:1940px;
  margin-left:200px;
}

.img-width{
  width: 18.88888%;
}

.comment-data{
  font-size:15px;
}

/* STATS */

.stats{
  display:flex;
  padding:20px 0 30px 30px;
  margin-top:50px;
  gap:450px;
  color: #fff;
  background-color: #616161;
}

.stats-padding > h4{
  padding-bottom:10px;
}

.demographic > h3{
  border-bottom:solid 5px #4CAF50;
  width: 450%;
}

.system > h3{
  border-bottom:solid 5px #f44336;
  width: 750%;
}

.target > h3{
  border-bottom:solid 5px #ff9800;
  width: 700%;
}

/* FOOTER */

.footer{
  text-align:center;
  margin-top:30px;
}

.footer > h3{
  font-size:25px;
}

.footer > p{
  padding-bottom:10px;
}

.footer > a{
  padding:10px;
  letter-spacing:2px;
}

.footer > a:hover{
  background-color: #000;
  color:#fff;
}

.footer-email{
  color:red;
}
